In [ ]:
import pandas as pd

df = pd.read_csv('boston_train.csv')
df

In [ ]:
# print(df['CRIM'])
# print(df.iloc[:,0])
# print(df.iloc[:,1])
# print(df.iloc[:,2])
# print(df.iloc[:,3])
# print(df.iloc[:,4])
# print(df.iloc[:,5])
# print(df.iloc[:,6])
print(df.iloc[:,:])

In [ ]:
df.count()# 통계요약 
df.describe()

In [34]:
#   2.1  'CRIM' 열의 평균값 보다 큰 값들만 출력
print(df[df['CRIM']> df['CRIM'].mean()])

         CRIM   ZN  INDUS    NOX     RM    AGE     DIS  TAX  PTRATIO  MEDV
1    13.35980  0.0  18.10  0.693  5.887   94.7  1.7821  666     20.2  12.7
8     4.81213  0.0  18.10  0.713  6.701   90.0  2.5975  666     20.2  16.4
10   38.35180  0.0  18.10  0.693  5.453  100.0  1.4896  666     20.2   5.0
12    4.54192  0.0  18.10  0.770  6.398   88.0  2.5182  666     20.2  25.0
22    7.75223  0.0  18.10  0.713  6.301   83.7  2.7831  666     20.2  14.9
23    8.26725  0.0  18.10  0.668  5.875   89.6  1.1296  666     20.2  50.0
24    5.66637  0.0  18.10  0.740  6.219  100.0  2.0048  666     20.2  18.4
28    6.39312  0.0  18.10  0.584  6.162   97.4  2.2060  666     20.2  13.3
29    8.79212  0.0  18.10  0.584  5.565   70.6  2.0635  666     20.2  11.7
32    8.64476  0.0  18.10  0.693  6.193   92.6  1.7912  666     20.2  13.8
35   15.28800  0.0  18.10  0.671  6.649   93.3  1.3449  666     20.2  13.9
38    9.32909  0.0  18.10  0.713  6.185   98.7  2.2616  666     20.2  14.1
41   41.52920  0.0  18.10  0.693  5.531   85.4  1.6074  666     20.2   8.5
47    9.82349  0.0  18.10  0.671  6.794   98.8  1.3580  666     20.2  13.3
48   11.95110  0.0  18.10  0.659  5.608  100.0  1.2852  666     20.2  27.9
52   22.05110  0.0  18.10  0.740  5.818   92.4  1.8662  666     20.2  10.5
54    7.99248  0.0  18.10  0.700  5.520  100.0  1.5331  666     20.2  12.3
55    5.82401  0.0  18.10  0.532  6.242   64.7  3.4242  666     20.2  23.0
61    4.64689  0.0  18.10  0.614  6.980   67.6  2.5329  666     20.2  29.8
65    7.83932  0.0  18.10  0.655  6.209   65.4  2.9634  666     20.2  21.4
68    9.18702  0.0  18.10  0.700  5.536  100.0  1.5804  666     20.2  11.3
70    9.23230  0.0  18.10  0.631  6.216  100.0  1.1691  666     20.2  50.0
71    9.39063  0.0  18.10  0.740  5.627   93.9  1.8172  666     20.2  12.8
73    6.28807  0.0  18.10  0.740  6.341   96.4  2.0720  666     20.2  14.9
75   51.13580  0.0  18.10  0.597  5.757  100.0  1.4130  666     20.2  15.0
87   18.08460  0.0  18.10  0.679  6.434  100.0  1.8347  666     20.2   7.2
89    5.66998  0.0  18.10  0.631  6.683   96.8  1.3567  666     20.2  50.0
91   15.17720  0.0  18.10  0.740  6.152  100.0  1.9142  666     20.2   8.7
92    4.89822  0.0  18.10  0.631  4.970  100.0  1.3325  666     20.2  50.0
93    7.05042  0.0  18.10  0.614  6.103   85.1  2.0218  666     20.2  13.4
..        ...  ...    ...    ...    ...    ...     ...  ...      ...   ...
254  11.08740  0.0  18.10  0.718  6.411  100.0  1.8589  666     20.2  16.7
255   5.69175  0.0  18.10  0.583  6.114   79.8  3.5459  666     20.2  19.1
258  28.65580  0.0  18.10  0.597  5.155  100.0  1.5894  666     20.2  16.3
261   4.87141  0.0  18.10  0.614  6.484   93.6  2.3053  666     20.2  16.7
264   4.34879  0.0  18.10  0.580  6.167   84.0  3.0334  666     20.2  19.9
266   6.71772  0.0  18.10  0.713  6.749   92.6  2.3236  666     20.2  13.4
269  10.83420  0.0  18.10  0.679  6.782   90.8  1.8195  666     20.2   7.5
280  88.97620  0.0  18.10  0.671  6.968   91.9  1.4165  666     20.2  10.4
282  11.10810  0.0  18.10  0.668  4.906  100.0  1.1742  666     20.2  13.8
284   8.98296  0.0  18.10  0.770  6.212   97.4  2.1222  666     20.2  17.8
299   9.72418  0.0  18.10  0.740  6.406   97.2  2.0651  666     20.2  17.1
302   9.59571  0.0  18.10  0.693  6.404  100.0  1.6390  666     20.2  12.1
314   5.58107  0.0  18.10  0.713  6.436   87.9  2.3158  666     20.2  14.3
315  23.64820  0.0  18.10  0.671  6.380   96.2  1.3861  666     20.2  13.1
325   4.55587  0.0  18.10  0.718  3.561   87.9  1.6132  666     20.2  27.5
327   7.67202  0.0  18.10  0.693  5.747   98.9  1.6334  666     20.2   8.5
332   6.96215  0.0  18.10  0.700  5.713   97.0  1.9265  666     20.2  15.1
333  20.71620  0.0  18.10  0.659  4.138  100.0  1.1781  666     20.2  11.9
337   6.53876  0.0  18.10  0.631  7.016   97.5  1.2024  666     20.2  50.0
347   8.49213  0.0  18.10  0.584  6.348   86.1  2.0527  666     20.2  14.5
351  13.91340  0.0  18.10  0.713  6.208   95.0  2.2222  666     20.2  11.7
353  67.92080  0.0  18.10  0.693  5.683  100.0  1.4254  666     20.2   5.0
360  13.07510  0.0  18.10  0.580  5.713   56.7  2.8237  666     20.2  20.1
364   5.44114  0.0  18.10  0.713  6.655   98.2  2.3552  666     20.2  15.2
385  20.08490  0.0  18.10  0.700  4.368   91.2  1.4395  666     20.2   8.8
386  18.81100  0.0  18.10  0.597  4.628  100.0  1.5539  666     20.2  17.9
387  14.33370  0.0  18.10  0.614  6.229   88.0  1.9512  666     20.2  21.4
392  18.49820  0.0  18.10  0.668  4.138  100.0  1.1370  666     20.2  13.8
393   4.09740  0.0  19.58  0.871  5.468  100.0  1.4118  403     14.7  15.6
398   7.36711  0.0  18.10  0.679  6.193   78.1  1.9356  666     20.2  11.0

[98 rows x 10 columns]

In [35]:
#   2.2  'AGE' 열의 평균값 보다 작은 값들만 출력
print(df[df['AGE'] < df['AGE'].mean()])

         CRIM    ZN  INDUS     NOX     RM   AGE      DIS  TAX  PTRATIO  MEDV
2     0.12744   0.0   6.91  0.4480  6.770   2.9   5.7209  233     17.9  26.6
3     0.15876   0.0  10.81  0.4130  5.961  17.5   5.2873  305     19.2  21.7
4     0.03768  80.0   1.52  0.4040  7.274  38.3   7.3090  329     12.6  34.6
5     0.03705  20.0   3.33  0.4429  6.968  37.2   5.2447  216     14.9  35.4
6     0.07244  60.0   1.69  0.4110  5.884  18.5  10.7103  411     18.3  18.6
7     0.10000  34.0   6.09  0.4330  6.982  17.7   5.4917  329     16.1  33.1
11    0.05479  33.0   2.18  0.4720  6.616  58.1   3.3700  222     18.4  28.4
16    0.08826   0.0  10.81  0.4130  6.417   6.6   5.2873  305     19.2  24.2
19    0.05735   0.0   4.49  0.4490  6.630  56.1   4.4377  247     18.5  26.6
20    0.04981  21.0   5.64  0.4390  5.998  21.4   6.8147  243     16.8  23.4
21    0.17505   0.0   5.96  0.4990  5.966  30.2   3.8473  279     19.2  24.7
25    0.17331   0.0   9.69  0.5850  5.707  54.0   2.3817  391     19.2  21.8
26    0.14476   0.0  10.01  0.5470  5.731  65.2   2.7592  432     17.8  19.3
37    0.29819   0.0   6.20  0.5040  7.686  17.0   3.3751  307     17.4  46.7
40    0.03041   0.0   5.19  0.5150  5.895  59.6   5.6150  224     20.2  18.5
46    0.09744   0.0   5.96  0.4990  5.841  61.4   3.3779  279     19.2  20.0
49    0.08387   0.0  12.83  0.4370  5.874  36.6   4.5026  398     18.7  20.3
55    5.82401   0.0  18.10  0.5320  6.242  64.7   3.4242  666     20.2  23.0
56    0.19073  22.0   5.86  0.4310  6.718  17.5   7.8265  330     19.1  26.2
58    0.07950  60.0   1.69  0.4110  6.579  35.9  10.7103  411     18.3  24.1
61    4.64689   0.0  18.10  0.6140  6.980  67.6   2.5329  666     20.2  29.8
63    0.03738   0.0   5.19  0.5150  6.310  38.5   6.4584  224     20.2  20.7
65    7.83932   0.0  18.10  0.6550  6.209  65.4   2.9634  666     20.2  21.4
69    0.07875  45.0   3.44  0.4370  6.782  41.1   3.7886  398     15.2  32.0
74    0.24103   0.0   7.38  0.4930  6.083  43.7   5.4159  287     19.6  22.2
76    0.80271   0.0   8.14  0.5380  5.456  36.6   3.7965  307     21.0  20.2
77    0.02729   0.0   7.07  0.4690  7.185  61.1   4.9671  242     17.8  34.7
78    0.13642   0.0  10.59  0.4890  5.891  22.3   3.9454  277     18.6  22.6
79    0.05083   0.0   5.19  0.5150  6.316  38.1   6.4584  224     20.2  22.2
80    0.18836   0.0   6.91  0.4480  5.786  33.3   5.1004  233     17.9  20.0
..        ...   ...    ...     ...    ...   ...      ...  ...      ...   ...
342   0.06911  45.0   3.44  0.4370  6.739  30.8   6.4798  398     15.2  30.5
343   0.33045   0.0   6.20  0.5070  6.086  61.5   3.6519  307     17.4  24.0
345   0.10290  30.0   4.93  0.4280  6.358  52.9   7.0355  300     16.6  22.2
346   0.10659  80.0   1.91  0.4130  5.936  19.5  10.5857  334     22.0  20.6
350   0.03502  80.0   4.95  0.4110  6.861  27.9   5.1167  245     19.2  28.5
352   3.67367   0.0  18.10  0.5830  6.312  51.9   3.9917  666     20.2  21.2
355   0.21038  20.0   3.33  0.4429  6.812  32.2   4.1007  216     14.9  35.1
356   0.04684   0.0   3.41  0.4890  6.417  66.1   3.0923  270     17.8  22.6
359   0.06162   0.0   4.39  0.4420  5.898  52.3   8.0136  352     18.8  17.2
360  13.07510   0.0  18.10  0.5800  5.713  56.7   2.8237  666     20.2  20.1
361   0.16439  22.0   5.86  0.4310  6.433  49.1   7.8265  330     19.1  24.5
363   0.04666  80.0   1.52  0.4040  7.107  36.6   7.3090  329     12.6  30.3
368   0.08370  45.0   3.44  0.4370  7.185  38.9   4.5667  398     15.2  34.9
369   0.02055  85.0   0.74  0.4100  6.383  35.7   9.1876  313     17.3  24.7
370   0.04590  52.5   5.32  0.4050  6.315  45.6   7.3172  293     16.6  22.3
371   0.06127  40.0   6.41  0.4470  6.826  27.6   4.8628  254     17.6  33.1
372   0.19186   0.0   7.38  0.4930  6.431  14.7   5.4159  287     19.6  24.6
375   0.00632  18.0   2.31  0.5380  6.575  65.2   4.0900  296     15.3  24.0
378   0.01538  90.0   3.75  0.3940  7.454  34.2   6.3361  244     15.9  44.0
379   0.05561  70.0   2.24  0.4000  7.041  10.0   7.8278  358     14.8  29.0
381   0.03150  95.0   1.47  0.4030  6.975  15.3   7.6534  402     17.0  34.9
382   0.05789  12.5   6.07  0.4090  5.878  21.4   6.4980  345     18.9  22.0
383   0.01778  95.0   1.47  0.4030  7.135  13.9   7.6534  402     17.0  32.9
388   0.07896   0.0  12.83  0.4370  6.273   6.0   4.2515  398     18.7  24.1
389   0.03578  20.0   3.33  0.4429  7.820  64.5   4.6947  216     14.9  45.4
390   0.10612  30.0   4.93  0.4280  6.095  65.1   6.3361  300     16.6  20.1
394   0.15445  25.0   5.13  0.4530  6.145  29.2   7.8148  284     19.7  23.3
395   0.23912   0.0   9.69  0.5850  6.019  65.3   2.4091  391     19.2  21.2
396   0.04560   0.0  13.89  0.5500  5.888  56.0   3.1121  276     16.4  23.3
399   0.14150   0.0   6.91  0.4480  6.169   6.6   5.7209  233     17.9  25.3

[165 rows x 10 columns]

In [36]:
#   2.3  'MEDV' 열의 중앙값 보다 작은 값들만 출력
print(df[df['MEDV'] < df['MEDV'].median()])

         CRIM    ZN  INDUS    NOX     RM    AGE      DIS  TAX  PTRATIO  MEDV
1    13.35980   0.0  18.10  0.693  5.887   94.7   1.7821  666     20.2  12.7
6     0.07244  60.0   1.69  0.411  5.884   18.5  10.7103  411     18.3  18.6
8     4.81213   0.0  18.10  0.713  6.701   90.0   2.5975  666     20.2  16.4
9     0.15086   0.0  27.74  0.609  5.454   92.7   1.8209  711     20.1  15.2
10   38.35180   0.0  18.10  0.693  5.453  100.0   1.4896  666     20.2   5.0
14    3.53501   0.0  19.58  0.871  6.152   82.6   1.7455  403     14.7  15.6
22    7.75223   0.0  18.10  0.713  6.301   83.7   2.7831  666     20.2  14.9
24    5.66637   0.0  18.10  0.740  6.219  100.0   2.0048  666     20.2  18.4
26    0.14476   0.0  10.01  0.547  5.731   65.2   2.7592  432     17.8  19.3
28    6.39312   0.0  18.10  0.584  6.162   97.4   2.2060  666     20.2  13.3
29    8.79212   0.0  18.10  0.584  5.565   70.6   2.0635  666     20.2  11.7
32    8.64476   0.0  18.10  0.693  6.193   92.6   1.7912  666     20.2  13.8
35   15.28800   0.0  18.10  0.671  6.649   93.3   1.3449  666     20.2  13.9
38    9.32909   0.0  18.10  0.713  6.185   98.7   2.2616  666     20.2  14.1
39    0.32264   0.0  21.89  0.624  5.942   93.5   1.9669  437     21.2  17.4
40    0.03041   0.0   5.19  0.515  5.895   59.6   5.6150  224     20.2  18.5
41   41.52920   0.0  18.10  0.693  5.531   85.4   1.6074  666     20.2   8.5
42    0.55778   0.0  21.89  0.624  6.335   98.2   2.1107  437     21.2  18.1
43    0.34006   0.0  21.89  0.624  6.458   98.9   2.1185  437     21.2  19.2
46    0.09744   0.0   5.96  0.499  5.841   61.4   3.3779  279     19.2  20.0
47    9.82349   0.0  18.10  0.671  6.794   98.8   1.3580  666     20.2  13.3
49    0.08387   0.0  12.83  0.437  5.874   36.6   4.5026  398     18.7  20.3
50    1.19294   0.0  21.89  0.624  6.326   97.7   2.2710  437     21.2  19.6
51    1.49632   0.0  19.58  0.871  5.404  100.0   1.5916  403     14.7  19.6
52   22.05110   0.0  18.10  0.740  5.818   92.4   1.8662  666     20.2  10.5
53    0.09849   0.0  25.65  0.581  5.879   95.8   2.0063  188     19.1  18.8
54    7.99248   0.0  18.10  0.700  5.520  100.0   1.5331  666     20.2  12.3
57    1.25179   0.0   8.14  0.538  5.570   98.1   3.7979  307     21.0  13.6
59    0.15098   0.0  10.01  0.547  6.021   82.6   2.7474  432     17.8  19.2
60    2.36862   0.0  19.58  0.871  4.926   95.7   1.4608  403     14.7  14.6
..        ...   ...    ...    ...    ...    ...      ...  ...      ...   ...
333  20.71620   0.0  18.10  0.659  4.138  100.0   1.1781  666     20.2  11.9
341   0.10153   0.0  12.83  0.437  6.279   74.5   4.0522  398     18.7  20.0
344   2.77974   0.0  19.58  0.871  4.903   97.8   1.3459  403     14.7  11.8
346   0.10659  80.0   1.91  0.413  5.936   19.5  10.5857  334     22.0  20.6
347   8.49213   0.0  18.10  0.584  6.348   86.1   2.0527  666     20.2  14.5
348   0.25356   0.0   9.90  0.544  5.705   77.7   3.9450  304     18.4  16.2
351  13.91340   0.0  18.10  0.713  6.208   95.0   2.2222  666     20.2  11.7
352   3.67367   0.0  18.10  0.583  6.312   51.9   3.9917  666     20.2  21.2
353  67.92080   0.0  18.10  0.693  5.683  100.0   1.4254  666     20.2   5.0
354   3.69311   0.0  18.10  0.713  6.376   88.4   2.5671  666     20.2  17.7
357   0.28392   0.0   7.38  0.493  5.708   74.3   4.7211  287     19.6  18.5
358   0.19133  22.0   5.86  0.431  5.605   70.2   7.9549  330     19.1  18.5
359   0.06162   0.0   4.39  0.442  5.898   52.3   8.0136  352     18.8  17.2
360  13.07510   0.0  18.10  0.580  5.713   56.7   2.8237  666     20.2  20.1
362   0.13058   0.0  10.01  0.547  5.872   73.1   2.4775  432     17.8  20.4
364   5.44114   0.0  18.10  0.713  6.655   98.2   2.3552  666     20.2  15.2
365   0.21161   0.0   8.56  0.520  6.137   87.4   2.7147  384     20.9  19.3
366   0.38735   0.0  25.65  0.581  5.613   95.6   1.7572  188     19.1  15.7
373   0.17120   0.0   8.56  0.520  5.836   91.9   2.2110  384     20.9  19.5
376   0.88125   0.0  21.89  0.624  5.637   94.7   1.9799  437     21.2  14.3
377   0.98843   0.0   8.14  0.538  5.813  100.0   4.0952  307     21.0  14.5
385  20.08490   0.0  18.10  0.700  4.368   91.2   1.4395  666     20.2   8.8
386  18.81100   0.0  18.10  0.597  4.628  100.0   1.5539  666     20.2  17.9
390   0.10612  30.0   4.93  0.428  6.095   65.1   6.3361  300     16.6  20.1
391   0.97617   0.0  21.89  0.624  5.757   98.4   2.3460  437     21.2  15.6
392  18.49820   0.0  18.10  0.668  4.138  100.0   1.1370  666     20.2  13.8
393   4.09740   0.0  19.58  0.871  5.468  100.0   1.4118  403     14.7  15.6
395   0.23912   0.0   9.69  0.585  6.019   65.3   2.4091  391     19.2  21.2
397   1.38799   0.0   8.14  0.538  5.950   82.0   3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.679  6.193   78.1   1.9356  666     20.2  11.0

[199 rows x 10 columns]

Boston Housing Data Set 데이터 연쇄하기
- boston_train.csv 파일과 boston_test.csv 파일을 pandas로 모두 읽어서 
  boston_train.csv  에서는 처음 10개 행과  boston_test.csv 의 처음
  10개 행을 차례대로 하나로 합쳐
  결과를 출력하고 boston_batch.csv 파일로 인덱스 값을 제외하고 (ignore_index = True)
  저장하는 코드를 구현하세요

In [37]:
#3 
df = pd.read_csv('boston_train.csv')
a = df[:10]
b = df[:10]
a
# ---- concat함수 이용 ----------
# df1 = pd.concat([a,b])
# print(df1)
# ----- append 이용 -------------
new_df1 = a.append(b, ignore_index = True)
new_df1

        CRIM    ZN  INDUS     NOX     RM   AGE      DIS  TAX  PTRATIO  MEDV
0    2.30040   0.0  19.58  0.6050  6.319  96.1   2.1000  403     14.7  23.8
1   13.35980   0.0  18.10  0.6930  5.887  94.7   1.7821  666     20.2  12.7
2    0.12744   0.0   6.91  0.4480  6.770   2.9   5.7209  233     17.9  26.6
3    0.15876   0.0  10.81  0.4130  5.961  17.5   5.2873  305     19.2  21.7
4    0.03768  80.0   1.52  0.4040  7.274  38.3   7.3090  329     12.6  34.6
5    0.03705  20.0   3.33  0.4429  6.968  37.2   5.2447  216     14.9  35.4
6    0.07244  60.0   1.69  0.4110  5.884  18.5  10.7103  411     18.3  18.6
7    0.10000  34.0   6.09  0.4330  6.982  17.7   5.4917  329     16.1  33.1
8    4.81213   0.0  18.10  0.7130  6.701  90.0   2.5975  666     20.2  16.4
9    0.15086   0.0  27.74  0.6090  5.454  92.7   1.8209  711     20.1  15.2
10   2.30040   0.0  19.58  0.6050  6.319  96.1   2.1000  403     14.7  23.8
11  13.35980   0.0  18.10  0.6930  5.887  94.7   1.7821  666     20.2  12.7
12   0.12744   0.0   6.91  0.4480  6.770   2.9   5.7209  233     17.9  26.6
13   0.15876   0.0  10.81  0.4130  5.961  17.5   5.2873  305     19.2  21.7
14   0.03768  80.0   1.52  0.4040  7.274  38.3   7.3090  329     12.6  34.6
15   0.03705  20.0   3.33  0.4429  6.968  37.2   5.2447  216     14.9  35.4
16   0.07244  60.0   1.69  0.4110  5.884  18.5  10.7103  411     18.3  18.6
17   0.10000  34.0   6.09  0.4330  6.982  17.7   5.4917  329     16.1  33.1
18   4.81213   0.0  18.10  0.7130  6.701  90.0   2.5975  666     20.2  16.4
19   0.15086   0.0  27.74  0.6090  5.454  92.7   1.8209  711     20.1  15.2

4.
- Boston Housing Data Set 열의 통계 출력
  boston_train.csv 파일을 각 열(총 10개)에 대한 통계를 출력하는 코드를 구현하세요
  sum,mean,median,min,max를 출력시킨다

In [68]:
# 4
df = pd.read_csv('boston_train.csv')  #파일을 불러오면 데이터 프레임 방식으로 데려오는것인가?
df_col = df.iloc[:,:10]
print(df_col)
print(df_col.sum())
print(df_col.mean())
print(df_col.median())
print(df_col.min())
print(df_col.max())

for col in df.columns:
    print('[',col,']')
    print('sum:',df[col].sum())
    print('mean:',df[col].mean())
    print('median:',df[col].median())
    print('min:',df[col].min())
    print('max:',df[col].max())
    print('describe:',df[col].describe())

         CRIM    ZN  INDUS     NOX     RM    AGE      DIS  TAX  PTRATIO  MEDV
0     2.30040   0.0  19.58  0.6050  6.319   96.1   2.1000  403     14.7  23.8
1    13.35980   0.0  18.10  0.6930  5.887   94.7   1.7821  666     20.2  12.7
2     0.12744   0.0   6.91  0.4480  6.770    2.9   5.7209  233     17.9  26.6
3     0.15876   0.0  10.81  0.4130  5.961   17.5   5.2873  305     19.2  21.7
4     0.03768  80.0   1.52  0.4040  7.274   38.3   7.3090  329     12.6  34.6
5     0.03705  20.0   3.33  0.4429  6.968   37.2   5.2447  216     14.9  35.4
6     0.07244  60.0   1.69  0.4110  5.884   18.5  10.7103  411     18.3  18.6
7     0.10000  34.0   6.09  0.4330  6.982   17.7   5.4917  329     16.1  33.1
8     4.81213   0.0  18.10  0.7130  6.701   90.0   2.5975  666     20.2  16.4
9     0.15086   0.0  27.74  0.6090  5.454   92.7   1.8209  711     20.1  15.2
10   38.35180   0.0  18.10  0.6930  5.453  100.0   1.4896  666     20.2   5.0
11    0.05479  33.0   2.18  0.4720  6.616   58.1   3.3700  222     18.4  28.4
12    4.54192   0.0  18.10  0.7700  6.398   88.0   2.5182  666     20.2  25.0
13    0.78570  20.0   3.97  0.6470  7.014   84.6   2.1329  264     13.0  30.7
14    3.53501   0.0  19.58  0.8710  6.152   82.6   1.7455  403     14.7  15.6
15    1.22358   0.0  19.58  0.6050  6.943   97.4   1.8773  403     14.7  41.3
16    0.08826   0.0  10.81  0.4130  6.417    6.6   5.2873  305     19.2  24.2
17    3.56868   0.0  18.10  0.5800  6.437   75.0   2.8965  666     20.2  23.2
18    3.47428   0.0  18.10  0.7180  8.780   82.9   1.9047  666     20.2  21.9
19    0.05735   0.0   4.49  0.4490  6.630   56.1   4.4377  247     18.5  26.6
20    0.04981  21.0   5.64  0.4390  5.998   21.4   6.8147  243     16.8  23.4
21    0.17505   0.0   5.96  0.4990  5.966   30.2   3.8473  279     19.2  24.7
22    7.75223   0.0  18.10  0.7130  6.301   83.7   2.7831  666     20.2  14.9
23    8.26725   0.0  18.10  0.6680  5.875   89.6   1.1296  666     20.2  50.0
24    5.66637   0.0  18.10  0.7400  6.219  100.0   2.0048  666     20.2  18.4
25    0.17331   0.0   9.69  0.5850  5.707   54.0   2.3817  391     19.2  21.8
26    0.14476   0.0  10.01  0.5470  5.731   65.2   2.7592  432     17.8  19.3
27    1.27346   0.0  19.58  0.6050  6.250   92.6   1.7984  403     14.7  27.0
28    6.39312   0.0  18.10  0.5840  6.162   97.4   2.2060  666     20.2  13.3
29    8.79212   0.0  18.10  0.5840  5.565   70.6   2.0635  666     20.2  11.7
..        ...   ...    ...     ...    ...    ...      ...  ...      ...   ...
370   0.04590  52.5   5.32  0.4050  6.315   45.6   7.3172  293     16.6  22.3
371   0.06127  40.0   6.41  0.4470  6.826   27.6   4.8628  254     17.6  33.1
372   0.19186   0.0   7.38  0.4930  6.431   14.7   5.4159  287     19.6  24.6
373   0.17120   0.0   8.56  0.5200  5.836   91.9   2.2110  384     20.9  19.5
374   1.65660   0.0  19.58  0.8710  6.122   97.3   1.6180  403     14.7  21.5
375   0.00632  18.0   2.31  0.5380  6.575   65.2   4.0900  296     15.3  24.0
376   0.88125   0.0  21.89  0.6240  5.637   94.7   1.9799  437     21.2  14.3
377   0.98843   0.0   8.14  0.5380  5.813  100.0   4.0952  307     21.0  14.5
378   0.01538  90.0   3.75  0.3940  7.454   34.2   6.3361  244     15.9  44.0
379   0.05561  70.0   2.24  0.4000  7.041   10.0   7.8278  358     14.8  29.0
380   0.36920   0.0   9.90  0.5440  6.567   87.3   3.6023  304     18.4  23.8
381   0.03150  95.0   1.47  0.4030  6.975   15.3   7.6534  402     17.0  34.9
382   0.05789  12.5   6.07  0.4090  5.878   21.4   6.4980  345     18.9  22.0
383   0.01778  95.0   1.47  0.4030  7.135   13.9   7.6534  402     17.0  32.9
384   0.57529   0.0   6.20  0.5070  8.337   73.3   3.8384  307     17.4  41.7
385  20.08490   0.0  18.10  0.7000  4.368   91.2   1.4395  666     20.2   8.8
386  18.81100   0.0  18.10  0.5970  4.628  100.0   1.5539  666     20.2  17.9
387  14.33370   0.0  18.10  0.6140  6.229   88.0   1.9512  666     20.2  21.4
388   0.07896   0.0  12.83  0.4370  6.273    6.0   4.2515  398     18.7  24.1
389   0.03578  20.0   3.33  0.4429  7.820   64.5   4.6947  216     14.9  45.4
390   0.10612  30.0   4.93  0.4280  6.095   65.1   6.3361  300     16.6  20.1
391   0.97617   0.0  21.89  0.6240  5.757   98.4   2.3460  437     21.2  15.6
392  18.49820   0.0  18.10  0.6680  4.138  100.0   1.1370  666     20.2  13.8
393   4.09740   0.0  19.58  0.8710  5.468  100.0   1.4118  403     14.7  15.6
394   0.15445  25.0   5.13  0.4530  6.145   29.2   7.8148  284     19.7  23.3
395   0.23912   0.0   9.69  0.5850  6.019   65.3   2.4091  391     19.2  21.2
396   0.04560   0.0  13.89  0.5500  5.888   56.0   3.1121  276     16.4  23.3
397   1.38799   0.0   8.14  0.5380  5.950   82.0   3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.6790  6.193   78.1   1.9356  666     20.2  11.0
399   0.14150   0.0   6.91  0.4480  6.169    6.6   5.7209  233     17.9  25.3

[400 rows x 10 columns]
CRIM         1562.08698
ZN           4539.00000
INDUS        4551.13000
NOX           222.36670
RM           2510.14500
AGE         27645.60000
DIS          1501.34580
TAX        164661.00000
PTRATIO      7397.50000
MEDV         9050.20000
dtype: float64
CRIM         3.905217
ZN          11.347500
INDUS       11.377825
NOX          0.555917
RM           6.275362
AGE         69.114000
DIS          3.753365
TAX        411.652500
PTRATIO     18.493750
MEDV        22.625500
dtype: float64
CRIM         0.281745
ZN           0.000000
INDUS        9.690000
NOX          0.538000
RM           6.209000
AGE         78.800000
DIS          3.190950
TAX        332.000000
PTRATIO     19.100000
MEDV        21.400000
dtype: float64
CRIM         0.00632
ZN           0.00000
INDUS        0.46000
NOX          0.38500
RM           3.56100
AGE          2.90000
DIS          1.12960
TAX        187.00000
PTRATIO     12.60000
MEDV         5.00000
dtype: float64
CRIM        88.9762
ZN         100.0000
INDUS       27.7400
NOX          0.8710
RM           8.7800
AGE        100.0000
DIS         12.1265
TAX        711.0000
PTRATIO     22.0000
MEDV        50.0000
dtype: float64
[ CRIM ]
sum: 1562.08698
mean: 3.905217449999999
median: 0.281745
min: 0.00632
max: 88.9762
describe: count    400.000000
mean       3.905217
std        9.366176
min        0.006320
25%        0.079710
50%        0.281745
75%        3.716457
max       88.976200
Name: CRIM, dtype: float64
[ ZN ]
sum: 4539.0
mean: 11.3475
median: 0.0
min: 0.0
max: 100.0
describe: count    400.000000
mean      11.347500
std       23.508075
min        0.000000
25%        0.000000
50%        0.000000
75%       12.500000
max      100.000000
Name: ZN, dtype: float64
[ INDUS ]
sum: 4551.129999999999
mean: 11.377824999999987
median: 9.69
min: 0.46
max: 27.74
describe: count    400.000000
mean      11.377825
std        7.011189
min        0.460000
25%        5.175000
50%        9.690000
75%       18.100000
max       27.740000
Name: INDUS, dtype: float64
[ NOX ]
sum: 222.36669999999998
mean: 0.5559167500000004
median: 0.5379999999999999
min: 0.385
max: 0.871
describe: count    400.000000
mean       0.555917
std        0.115769
min        0.385000
25%        0.449000
50%        0.538000
75%        0.625750
max        0.871000
Name: NOX, dtype: float64
[ RM ]
sum: 2510.145
mean: 6.275362499999997
median: 6.209
min: 3.5610000000000004
max: 8.78
describe: count    400.000000
mean       6.275362
std        0.726754
min        3.561000
25%        5.878750
50%        6.209000
75%        6.616500
max        8.780000
Name: RM, dtype: float64
[ AGE ]
sum: 27645.6
mean: 69.11399999999998
median: 78.80000000000001
min: 2.9
max: 100.0
describe: count    400.000000
mean      69.114000
std       28.519856
min        2.900000
25%       44.850000
50%       78.800000
75%       94.625000
max      100.000000
Name: AGE, dtype: float64
[ DIS ]
sum: 1501.3458
mean: 3.7533645000000035
median: 3.19095
min: 1.1296
max: 12.1265
describe: count    400.000000
mean       3.753365
std        2.106026
min        1.129600
25%        2.060800
50%        3.190950
75%        5.116700
max       12.126500
Name: DIS, dtype: float64
[ TAX ]
sum: 164661
mean: 411.6525
median: 332.0
min: 187
max: 711
describe: count    400.00000
mean     411.65250
std      171.63189
min      187.00000
25%      277.00000
50%      332.00000
75%      666.00000
max      711.00000
Name: TAX, dtype: float64
[ PTRATIO ]
sum: 7397.499999999999
mean: 18.49374999999996
median: 19.1
min: 12.6
max: 22.0
describe: count    400.000000
mean      18.493750
std        2.159745
min       12.600000
25%       17.400000
50%       19.100000
75%       20.200000
max       22.000000
Name: PTRATIO, dtype: float64
[ MEDV ]
sum: 9050.2
mean: 22.62550000000001
median: 21.4
min: 5.0
max: 50.0
describe: count    400.000000
mean      22.625500
std        9.572593
min        5.000000
25%       16.600000
50%       21.400000
75%       25.025000
max       50.000000
Name: MEDV, dtype: float64

5.
- sunspot.csv 데이터의 NaN 데이터의 갯수를 열마다 출력 시키고
  NaN 값을 모두 0으로 변경하고 다시 NaN 데이터의 갯수를 열마다 출력 시키고
  수정된 데이터프레임을 sunspot_new.csv 로 저장하는 프로그램을 작성하세요

In [ ]:
import quandl
sunspots = quandl.get('SIDC/SUNSPOTS_A')
sunspots

sunspots.to_csv('sunspots1.csv', na_rep = 'NaN')

# sunspots = pd.read_csv("sunspots1.csv")
print(sunspots)
sunspots.isnull().sum()   #결측치 갯수 확인 
sunspots.fillna(0, inplace = True)  

#csv 파일 저장하기 
# sunspots.to_csv('sunspots_new.csv',index= False)

6. 
 - sunspot.csv 데이터를 읽어와서 'Date' 컬럼을 to_datetime()을 사용하여
   문자열을 날짜로 변환 시키고 데이터프레임의 .dtypes 속성을 사용하여
   데이터 타입을 확인해본다 'Date' 컬럼의 평균보다 큰 값만 추출하여
   수정된 데이터프레임을 sunspot_new2.csv 로 저장한다

In [100]:
sunspot = pd.read_csv('sunspots1.csv')
date1 = sunspot['Date']
pd.to_datetime(sunspot['Date'])
sunspot['Date'] = pd.to_datetime(sunspot['Date'])
print(sunspot.dtypes)
# print(sunspot[sunspot['Date']> sunspot['Date'].mean()])
# sunspot['Date'].mean()

Date                                datetime64[ns]
Yearly Mean Total Sunspot Number           float64
Yearly Mean Standard Deviation             float64
Number of Observations                     float64
Definitive/Provisional Indicator           float64
dtype: object

 아래 두개의 데이터 프레임을 만들어 merge()로 통합하세요(inner)

In [53]:
product_ab = {'판매월':['1월','2월','3월','4월'],'제품A':[100,150,200,130],'제품B':[90,110,140,170]}
ab = pd.DataFrame(product_ab)
product_cd = {'판매월':['1월','2월','3월','4월'],'제품C':[112,141,203,134],'제품D':[90,110,140,170]}
cd = pd.DataFrame(product_cd)

mer = pd.merge(ab,cd, how = 'inner',on = '판매월')
mer

  판매월  제품A  제품B  제품C  제품D
0  1월  100   90  112   90
1  2월  150  110  141  110
2  3월  200  140  203  140
3  4월  130  170  134  170

In [61]:
key_l = {'key':['A','B','C'],'left':[1,2,3]}
key_r = {'key':['A','B','D'],'right':[4,5,6]}
df_l = pd.DataFrame(key_l)
df_r = pd.DataFrame(key_r)
# 8-1
m1 = pd.merge(df_l,df_r, how ='inner',on = 'key')
m1
m2 = pd.merge(df_l,df_r, how ='outer',on = 'key')
m2
m3 = pd.merge(df_l,df_r, how ='left',on = 'key')
m3
m4 = pd.merge(df_l,df_r, how ='right',on = 'key')
m4

  key  left  right
0   A   1.0      4
1   B   2.0      5
2   D   NaN      6

In [76]:
df = pd.read_csv('WHO_first9cols.csv')
sr = df['Country'].str.contains('Albania')

print(df[df['Country'].str.contains('Albania')])
print(df[df['Country'].str.contains('Ethiopia')])

   Country  CountryID  Continent  Adolescent fertility rate (%)  \
1  Albania          2          2                           27.0

   Adult literacy rate (%)  \
1                     98.7

   Gross national income per capita (PPP international $)  \
1                                             6000.0

   Net primary school enrolment ratio female (%)  \
1                                           93.0

   Net primary school enrolment ratio male (%)  \
1                                         94.0

   Population (in thousands) total
1                           3172.0
     Country  CountryID  Continent  Adolescent fertility rate (%)  \
58  Ethiopia         59          3                          109.0

    Adult literacy rate (%)  \
58                     35.9

    Gross national income per capita (PPP international $)  \
58                                              630.0

    Net primary school enrolment ratio female (%)  \
58                                           68.0

    Net primary school enrolment ratio male (%)  \
58                                         74.0

    Population (in thousands) total
58                          81021.0